/* GLOBAL */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.cta-button {
  background-color: #e23110;
  border-radius: 0;
  border: 0;
}

.cta-button:hover {
  background-color: rgb(175, 0, 0);
}

/* NAVBAR */

#top-navbar {
  font-size: 15px;
}

#bottom-navbar {
  font-size: 18px;
}

/* HERO SECTION */

.hero {
  height: 455px;
  background-image: url(assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  padding-top: 90px;
}

.customContainer {
  background-color: white;
}

/* SOLUTION */

.solution {
  height: 700px;
  padding-top: 100px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.quoteText {
  font-size: 22px;
  max-width: 490px;
}

/* PARTNERSHIP LEVELS */

.partnership-levels {
  height: 700px;
  background-image: url(assets/benefits-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
}

.circle {
  display: inline-block;
  background-color: #1876b0;
  height: 16px;
  width: 16px;
  margin: 5px;
}

.light-circle {
  display: inline-block;
  background-color: #c6ddeb;
  height: 16px;
  width: 16px;
  margin: 5px;
}

.rocket {
  display: inline-block;
  margin-left: 2px;
}
